<% form_with model: book do |f| %>

  <div class="form">
    <% f.label :Title %>
    <% f.text_field :title, class: "col-xs-12" %>
  </div>
  <div class="form">
    <% f.label :Opinion %>
    <% f.text_area :body, class: "col-xs-12" %>
  </div>

  <div class="form">
    <% f.submit "Create Book", class: "btn btn-success col-xs-12" %>
  </div>

<% end %>